resources:
- name: signer-serviceaccount
  type: iam.v1.serviceAccount
  properties:
    accountId: storage-signer
    displayName: storage-signer
- name: ca-lab-bucket-{{ env["current_time"] }}
  type: storage.v1.bucket
  properties:
    storageClass: REGIONAL
    location: us-central1
- name: configure-cloud-run-access
  type: compute.v1.instance
  properties:
    zone: us-central1-a
    machineType: zones/us-central1-a/machineTypes/n1-standard-1
    disks:
    - initializeParams:
        sourceImage: projects/debian-cloud/global/images/family/debian-11
      boot: true
    networkInterfaces:
    - network: global/networks/default
    metadata:
      items:
      - key: startup-script
        value: |
          #!/bin/bash
          gcloud projects add-iam-policy-binding {{ env["project"] }} --member="allUsers" --role="roles/run.invoker"